<div class="locker">
    <h4>This publication is only accessible to subscribers.</h4>
    <h6>Join now to get the full scoop!</h6>

    <a routerLink="./"
       [queryParams]="{ module: 'billing', step: 'intro' }"
       class="btn btn-cta btn-success btn-lg btn-pointer mt-1">Access this Publication</a>

    <div *ngIf="!authentication.authenticated()" class="mt-3">
        Already a subscriber?
        <button (click)="login()" class="btn btn-href btn-pointer">Login</button>
    </div>
</div>
