<div class="locker">
    <h4>This publication is only accessible to subscribers.</h4>
    <h6>Join now to get the full scoop!</h6>

    <a routerLink="./"
       [queryParams]="{ module: 'billing', step: 'intro' }"
       class="btn btn-primary btn-lg btn-pointer mt-1 mb-3">Become a Subscriber</a>

    <div *ngIf="!authentication.authenticated()">
        <p>
            Already a subscriber?
            <br />
            <button (click)="login()" class="btn btn-href btn-pointer">Login</button>
        </p>
    </div>
</div>
