<div class="locker">
    <h4>This publication is only accessible to subscribers.</h4>
    <h6>Join now to get the full scoop!</h6>

    <a *ngIf="authentication.authenticated()"
       routerLink="./"
       [queryParams]="{ module: 'billing', step: 'intro' }"
       class="btn btn-primary btn-pointer">Become a Subscriber</a>

    <div *ngIf="!authentication.authenticated()">
        <p>
            Already a subscriber?
            <br />
            <a (click)="login()" class="btn-pointer">Login</a>
        </p>
    </div>
</div>
