.studio-article {
  .thumbnail {
    width: 100%;
    margin-bottom: 10px;
  }

  .article-header {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 5px;
    }
  }

  .article-content {
    img {
      max-width: 100% !important;
    }
  }

  .article-link {
    line-height: 1;
    font-size: 1.1em;
    transition: all 150ms;
  }
}
