<div class="row studio-article">
    <div class="col-sm-12 col-md-8">
        <studio-loading [show]="loading"></studio-loading>

        <div class="card animated fadeIn" *ngIf="!loading">
            <div class="card-block">
                <div class="article-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <img *ngIf="article.image_url" src="{{ article.image_url }}" class="thumbnail hidden-xs-down mb-0" />

                            <h2>{{ article.title }}</h2>

                            <span class="text-muted">
                                Posted {{ published(article) }}
                                {{ author(article) }}
                            </span>
                        </div>
                    </div>
                </div>

                <div *ngIf="article.image_url" class="hidden-sm-up mb-1">
                    <img src="{{ article.image_url }}" class="thumbnail" />
                </div>

                <!-- Share buttons -->
                <!--<div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-2">-->
                <!--<a class="a2a_button_facebook"></a>-->
                <!--<a class="a2a_button_twitter"></a>-->
                <!--<a class="a2a_button_linkedin"></a>-->
                <!--</div>-->

                <p *ngIf="!article.content"
                   [innerHTML]="article.preview | studioSanitizeHtml"
                   [class.preview-fade]="!article.content">
                </p>

                <div *ngIf="!article.content">
                    <studio-locker></studio-locker>
                </div>

                <div *ngIf="article.content">
                    <p [innerHTML]="article.content | studioSanitizeHtml"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <h3 *ngIf="!loadingRecent" class="article-section-label mb-1">
            The Latest
        </h3>

        <studio-loading [show]="loadingRecent"></studio-loading>

        <div *ngFor="let article of recent | async | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }"
             class="row animated fadeIn mb-2">
            <div *ngIf="article.image_url" class="col-sm-12 col-md-5">
                <a routerLink="../{{ article.slug_uri }}">
                    <img src="{{ article.image_url }}" class="thumbnail"/>
                </a>
            </div>

            <div [ngClass]="{ 'col-sm-9 col-md-7': article.image_url, 'col-sm-12': !article.image_url }">
                <a routerLink="../{{ article.slug_uri }}" class="article-link">{{ article.title }}</a>
                <br/>

                <span class="text-muted">
                   {{ published(article) }}
                </span>
            </div>
        </div>

        <div class="row" *ngIf="!loadingRecent">
            <div class="col-sm-12 text-center">
                <pagination-controls (pageChange)="loadRecent($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
