.studio-article {
  line-height: 1.1;

  .thumbnail {
    width: 100%;
    margin-bottom: 10px;
  }

  .article-header {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 5px;
    }
  }

  .article-link {
    font-size: 1.2em;
    transition: all 150ms;
  }
}
