<studio-loading [show]="loading"></studio-loading>

<div class="row">
    <div *ngFor="let article of articles | async | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }"
         class="animated fadeIn studio-articles col-sm-12" [ngClass]="columnClass()">
        <!-- Vertical display -->
        <div *ngIf="needsFormat('vertical')" class="card">
            <div class="card-block">
                <div class="article-header mb-1">
                    <h4><a [routerLink]="url(article.slug_uri)">{{ article.title }}</a></h4>
                </div>

                <a [routerLink]="url(article.slug_uri)">
                    <img src="{{ article.image_url }}" class="thumbnail mb-1" />
                </a>

                <p class="text-muted">
                    {{ published(article) }}<br />
                    {{ author(article) }}
                </p>

                <p [innerHTML]="article.preview | studioSanitizeHtml" class="preview-fade mb-0"></p>

                <div class="text-center">
                    <a [routerLink]="url(article.slug_uri)">Read More</a>
                </div>
            </div>
        </div>

        <!-- Horizontal display -->
        <div *ngIf="needsFormat('horizontal')" class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-3 col-md-4">
                        <a [routerLink]="url(article.slug_uri)">
                            <img src="{{ article.image_url }}" class="thumbnail mb-1" />
                        </a>
                    </div>

                    <div class="col-sm-9 col-md-8">
                        <div class="article-header mb-1">
                            <h4><a [routerLink]="url(article.slug_uri)">{{ article.title }}</a></h4>
                        </div>

                        <p class="text-muted">
                            {{ published(article) }}<br />
                            {{ author(article) }}
                        </p>

                        <p [innerHTML]="article.preview | studioSanitizeHtml" class="preview-fade mb-0"></p>

                        <div class="text-center">
                            <a [routerLink]="url(article.slug_uri)">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="pagination && !loading">
    <div class="col-sm-12 text-center">
        <pagination-controls (pageChange)="load($event)"></pagination-controls>
    </div>
</div>
