.picker-dropdown, .picker-dropdown.small-mode {
  //width: 290px !important;
  .control {
    font-size: 1.1em !important;
    margin: 5px !important;
  }
  .control .button {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    background-color: $brand-info !important;
    border: 1px solid $brand-info !important;
    font-size: 1.1em !important;
    padding: 5px !important;
    transition: all 250ms;
    &:hover {
      background-color: darken($brand-info, 15%) !important;
    }
  }
  .time {
    color: inherit !important;
  }
  .bar .highlight {
    background-color: $brand-info !important;
  }
}

.small-mode .meridiem {
  font-size: 12px !important;
  .button {
    padding: 8px !important;
    border: 1px solid $gray-lighter !important;
    border-radius: 0 !important;
    color: inherit !important;
    &.active {
      background-color: $brand-info !important;
    }
  }
}
.small-mode .picker-banner-moment .moment-date .small {
  font-size: 10px !important;
}

.picker-dropdown, .picker-dropdown.small-mode, .picker-banner {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border: 1px solid $gray-lighter !important;
}

.picker-banner {
  background-color: $brand-info !important;
  border: none !important;
}

.picker-calendar .picker-day {
  &.selected {
    background-color: $brand-info !important;
  }
  &:hover {
    background-color: lighten($brand-info, 15%) !important;
  }
}
