.hero {
  background-size: cover;
}

.hero.padded {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero.padded.big {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero.padded.huge {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero.gray {
  background-color: $gray;
}
.hero.gray-light {
  background-color: $gray-light;
}
.hero.gray-lighter {
  background-color: $gray-lighter;
}
.hero.gray-lightest {
  background-color: $gray-lightest;
}

/* inset shadows */
.hero.inset-shadow {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.45);
}

/* outer shadows */
.hero.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
}
