.toast-top-right {
  top: 20px;
  left: 20px;
}

#toast-container > div {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.45);
  }

  .toast-success {
    background-color: $brand-success;
  }
  .toast-info {
    background-color: $brand-info;
  }
  .toast-warning {
    background-color: $brand-warning;
  }
  .toast-danger {
    background-color: $brand-danger;
  }
}
