<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down hidden-sm-up">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto mr-1" *ngIf="authenticated()">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link nav-pill avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false" dropdownToggle>
                <span class="icon-user"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right animated quick fadeIn" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" routerLink="/settings"><i class="fa fa-wrench"></i> Settings</a>
                <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item" *ngFor="let item of navigation">
                    <span class *ngIf="item.routerLink && !item.click">
                        <a *ngIf="show(item)"
                           [routerLink]="item.routerLink"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: item.exactActive || false }"
                           class="nav-link {{ item.classes }}">
                            <i class="{{ item.icon }}"></i> {{ item.label }}
                        </a>
                    </span>
                    <span class *ngIf="item.click && !item.routerLink">
                        <a *ngIf="show(item)"
                           (click)="item.click()" href="#"
                           class="nav-link {{ item.classes }}">
                            <i class="{{ item.icon }}"></i> {{ item.label }}
                        </a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
