<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" routerLink="/"></a>
    <ul class="nav navbar-nav hidden-md-down hidden-sm-up">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" routerLink="/">&#9776;</a>
        </li>
    </ul>

    <ul class="nav navbar-nav">
        <li *ngFor="let item of navigation" class="nav-item hidden-md-down">
            <span *ngIf="needsLayout('fluid') && item.href && !item.routerLink">
                <a *ngIf="show(item)"
                   [href]="item.href"
                   class="nav-link {{ item.classes }}">
                    {{ item.label }}
                </a>
            </span>
            <span *ngIf="needsLayout('fluid') && item.routerLink && !item.click">
                <a *ngIf="show(item)"
                   [routerLink]="item.routerLink"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: item.exactActive || false }"
                   class="nav-link {{ item.classes }}">
                    {{ item.label }}
                </a>
            </span>
            <span *ngIf="needsLayout('fluid') && item.click && !item.routerLink">
                <a *ngIf="show(item)"
                   (click)="item.click()" href="#"
                   class="nav-link {{ item.classes }}">
                    {{ item.label }}
                </a>
            </span>
        </li>

        <!-- not authenticated -->
        <li *ngIf="!authenticated()" class="nav-item">
            <button (click)="login()" class="nav-link">
                Login
            </button>
        </li>

        <!-- authenticated -->
        <li *ngIf="authenticated()" class="nav-item dropdown" dropdown>
            <a class="nav-link nav-pill avatar" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" dropdownToggle>
                <span class="icon-user"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right animated quick fadeIn" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>

                <a *ngIf="roles.has('dashboard')" class="dropdown-item" [href]="studioUrl">
                    Publication Studio
                </a>

                <a class="dropdown-item" routerLink="/settings">
                    Settings
                </a>

                <a class="dropdown-item" (click)="logout()" href="#">
                    Logout
                </a>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar" [class.hidden-lg-up]="needsLayout('fluid')">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li *ngFor="let item of navigation" class="nav-item">
                    <span *ngIf="item.href && !item.routerLink">
                        <a *ngIf="show(item)"
                           [href]="item.href"
                           class="nav-link {{ item.classes }}">
                            <i class="{{ item.icon }}"></i> {{ item.label }}
                        </a>
                    </span>
                    <span *ngIf="item.routerLink && !item.click">
                        <a *ngIf="show(item)"
                           [routerLink]="item.routerLink"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: item.exactActive || false }"
                           class="nav-link {{ item.classes }}">
                            <i class="{{ item.icon }}"></i> {{ item.label }}
                        </a>
                    </span>
                    <span *ngIf="item.click && !item.routerLink">
                        <a *ngIf="show(item)"
                           (click)="item.click()" href="#"
                           class="nav-link {{ item.classes }}">
                            <i class="{{ item.icon }}"></i> {{ item.label }}
                        </a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main" [class.fluid]="needsLayout('fluid')">
        <router-outlet></router-outlet>
    </main>
</div>
