@import 'custom/a2a';
@import 'custom/animate';
@import 'custom/buttons';
@import 'custom/cursors';
@import 'custom/datetimepicker';
@import 'custom/forms';
@import 'custom/navbar';
@import 'custom/sidebar';
@import 'custom/tables';
@import 'custom/toastr';

.main .container-fluid {
  padding: 25px 30px;
}

.main.fluid {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1184px;
}

a {
  color: $href-link-color;
  &:hover {
    color: $href-link-hover-color;
    text-decoration: none;
  }
}

.img-fluid-full {
  width: 100%;
  height: auto;
}
