@import 'custom/a2a';
@import 'custom/animate';
@import 'custom/buttons';
@import 'custom/container';
@import 'custom/cursors';
@import 'custom/datetimepicker';
@import 'custom/forms';
@import 'custom/hero';
@import 'custom/modals';
@import 'custom/navbar';
@import 'custom/sidebar';
@import 'custom/tables';
@import 'custom/toastr';
@import 'custom/pagination';

.main .container-fluid {
  padding: 25px 30px;
}

.main.fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

a {
  color: $href-link-color;
  transition: all 150ms ease;
  &:hover {
    color: $href-link-hover-color;
    text-decoration: none;
  }
}

.img-fluid-full {
  width: 100%;
  height: auto;
}
